# Ignore CSV files
*.csv
*.png

# Ignore OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Ignore Python cache and virtual environment folders
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp
*.bak
*.old

# Ignore IDE/editor folders
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore build/output folders
dist/
build/
out/